In [ ]:
# from google.colab import data_table
# data_table.enable_dataframe_formatter()

Q1. Get the all the Aircraft in production or development at Boeing Commercial Airplanes from https://en.wikipedia.org/wiki/Boeing_Commercial_Airplanes

In [1]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\samuel\appdata\roaming\python\python39\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\samuel\appdata\roaming\python\python39\site-packages (from beautifulsoup4) (2.3.2.post1)

In [2]:
from bs4 import BeautifulSoup
import requests

response = requests.get('https://en.wikipedia.org/wiki/Boeing_Commercial_Airplanes')

Status codes <br>

Check this out
https://developer.mozilla.org/en-US/docs/Web/HTTP/Status

In [ ]:
print(response.status_code)

200

Creating a Soup

In [ ]:
soup = BeautifulSoup(response.content, 'html.parser')

current_prod_table = soup.find_all(['table'])[1]

print(current_prod_table.prettify())

<table class="wikitable sortable" style="text-align:center; font-size:96%;">
 <caption>
  <b>
   Product list and details
  </b>
 </caption>
 <tbody>
  <tr style="background:#069;">
   <th>
    Aircraft model
   </th>
   <th>
    Number built
    <sup class="reference" id="cite_ref-21">
     <a href="#cite_note-21">
      [21]
     </a>
    </sup>
   </th>
   <th>
    Description
   </th>
   <th>
    Capacity
   </th>
   <th>
    First flight
   </th>
   <th>
    Variants in production
   </th>
   <th>
    Out-of-production variants
   </th>
  </tr>
  <tr>
   <td align="center">
    <a href="/wiki/Boeing_737" title="Boeing 737">
     737
    </a>
   </td>
   <td>
    10,906
   </td>
   <td>
    <a href="/wiki/Twinjet" title="Twinjet">
     Twin‑engine
    </a>
    ,
    <a href="/wiki/Narrow-body_aircraft" title="Narrow-body aircraft">
     single aisle
    </a>
    ,
    <a href="/wiki/Flight_length" title="Flight length">
     short- to medium-range
    </a>
    narrow-body
   </td>
   <td>
    85–215
   </td>
   <td>
    April 9, 1967
   </td>
   <td>
    <a href="/wiki/Boeing_737_MAX" title="Boeing 737 MAX">
     737 MAX
    </a>
    ,
    <a href="/wiki/Boeing_Business_Jet" title="Boeing Business Jet">
     BBJ
    </a>
    ,
    <a href="/wiki/Boeing_737_AEW%26C" title="Boeing 737 AEW&amp;C">
     737 AEW&amp;C
    </a>
    ,
    <a href="/wiki/Boeing_P-8_Poseidon" title="Boeing P-8 Poseidon">
     P-8
    </a>
   </td>
   <td>
    <a href="/wiki/Boeing_737" title="Boeing 737">
     100, 200, 200C/Adv
    </a>
    ,
    <a href="/wiki/Boeing_737_Classic" title="Boeing 737 Classic">
     300, 400, 500
    </a>
    ,
    <a href="/wiki/Boeing_737_Next_Generation" title="Boeing 737 Next Generation">
     600, 700, 700ER, 800, 900, 900ER
    </a>
    ,
    <a href="/wiki/Boeing_C-40_Clipper" title="Boeing C-40 Clipper">
     C-40
    </a>
   </td>
  </tr>
  <tr>
   <td align="center">
    <a href="/wiki/Boeing_767" title="Boeing 767">
     767
    </a>
   </td>
   <td>
    1,240
   </td>
   <td>
    Heavy, twin-engine, twin aisle, medium- to long-range widebody
   </td>
   <td>
    180–375
   </td>
   <td>
    September 26, 1981
   </td>
   <td>
    <a href="/wiki/Boeing_767#767-300F" title="Boeing 767">
     300F
    </a>
    ,
    <a href="/wiki/Boeing_KC-767" title="Boeing KC-767">
     KC-767
    </a>
    ,
    <a href="/wiki/Boeing_KC-46_Pegasus" title="Boeing KC-46 Pegasus">
     KC-46
    </a>
    ,
    <a href="/wiki/Boeing_E-767" title="Boeing E-767">
     E-767
    </a>
   </td>
   <td>
    <a class="mw-redirect" href="/wiki/Boeing_767-200" title="Boeing 767-200">
     200
    </a>
    ,
    <a class="mw-redirect" href="/wiki/Boeing_767-200ER" title="Boeing 767-200ER">
     200ER
    </a>
    ,
    <a class="mw-redirect" href="/wiki/Boeing_767-300" title="Boeing 767-300">
     300
    </a>
    ,
    <a class="mw-redirect" href="/wiki/Boeing_767-300ER" title="Boeing 767-300ER">
     300ER
    </a>
    ,
    <a class="mw-redirect" href="/wiki/Boeing_767-400ER" title="Boeing 767-400ER">
     400ER
    </a>
    <sup class="reference" id="cite_ref-Boeing_767_22-0">
     <a href="#cite_note-Boeing_767-22">
      [22]
     </a>
    </sup>
   </td>
  </tr>
  <tr>
   <td align="center">
    <a href="/wiki/Boeing_777" title="Boeing 777">
     777
    </a>
   </td>
   <td>
    1,678
   </td>
   <td>
    Heavy, twin-engine, twin aisle, medium- to long-range, ultra long-range (200LR), widebody
   </td>
   <td>
    301–550
   </td>
   <td>
    June 12, 1994
   </td>
   <td>
    <a href="/wiki/Boeing_Business_Jet" title="Boeing Business Jet">
     BBJ
    </a>
    ,
    <a href="/wiki/Boeing_777#777_Freighter" title="Boeing 777">
     Freighter
    </a>
    <sup class="reference" id="cite_ref-23">
     <a href="#cite_note-23">
      [23]
     </a>
    </sup>
   </td>
   <td>
    <a class="mw-redirect" href="/wiki/Boeing_777-200" title="Boeing 777-200">
     200
    </a>
    ,
    <a class="mw-redirect" href="/wiki/Boeing_777-200ER" title="Boeing 777-200ER">
     200ER
    </a>
    ,
    <a class="mw-redirect" href="/wiki/Boeing_777-200LR" title="Boeing 777-200LR">
     200LR
    </a>
    ,
    <a href="/wiki/Boeing_777#777-300" title="Boeing 777">
     300
    </a>
    ,
    <a href="/wiki/Boeing_777#777-300ER" title="Boeing 777">
     300ER
    </a>
   </td>
  </tr>
  <tr>
   <td align="center">
    <a href="/wiki/Boeing_787_Dreamliner" title="Boeing 787 Dreamliner">
     787
    </a>
   </td>
   <td>
    1,006
   </td>
   <td>
    Heavy, twin-engine, twin aisle, long-range widebody
   </td>
   <td>
    210–330
    <sup class="reference" id="cite_ref-24">
     <a href="#cite_note-24">
      [24]
     </a>
    </sup>
   </td>
   <td>
    December 15, 2009
   </td>
   <td>
    <a class="mw-redirect" href="/wiki/Boeing_787-8" title="Boeing 787-8">
     8
    </a>
    ,
    <a class="mw-redirect" href="/wiki/Boeing_787-9" title="Boeing 787-9">
     9
    </a>
    ,
    <sup class="reference" id="cite_ref-25">
     <a href="#cite_note-25">
      [25]
     </a>
    </sup>
    <a class="mw-redirect" href="/wiki/Boeing_787-10" title="Boeing 787-10">
     10
    </a>
    ,
    <a href="/wiki/Boeing_Business_Jet" title="Boeing Business Jet">
     BBJ
    </a>
    <sup class="reference" id="cite_ref-26">
     <a href="#cite_note-26">
      [26]
     </a>
    </sup>
   </td>
   <td>
   </td>
  </tr>
 </tbody>
</table>

Getting the Caption

In [ ]:
caption = current_prod_table.find('caption').text
print(caption)

Product list and details

Getting the Table Column headings

In [ ]:
table_headings_raw = current_prod_table.findAll('th')
table_headings = []
for heading_tag in table_headings_raw:
    table_headings.append(heading_tag.text.rstrip())
print(table_headings)

['Aircraft model', 'Number built[21]', 'Description', 'Capacity', 'First flight', 'Variants in production', 'Out-of-production variants']

Getting data from each row

In [ ]:
table_rows_raw = current_prod_table.findAll('tbody')[0].findAll('tr')


table_content = []
for row_data_raw in table_rows_raw:
    row = []
    for row_data in row_data_raw.findAll('td'):
        row.append(row_data.text.rstrip())
    
    if row:
        table_content.append(row)
    
for x in table_content:
    print(x)

['737', '10,906', 'Twin‑engine, single aisle, short- to medium-range narrow-body', '85–215', 'April 9, 1967', '737 MAX, BBJ, 737 AEW&C, P-8', '100, 200, 200C/Adv, 300, 400, 500, 600, 700, 700ER, 800, 900, 900ER, C-40']
['767', '1,240', 'Heavy, twin-engine, twin aisle, medium- to long-range widebody', '180–375', 'September 26, 1981', '300F, KC-767, KC-46, E-767', '200, 200ER, 300, 300ER, 400ER[22]']
['777', '1,678', 'Heavy, twin-engine, twin aisle, medium- to long-range, ultra long-range (200LR), widebody', '301–550', 'June 12, 1994', 'BBJ, Freighter[23]', '200, 200ER, 200LR, 300, 300ER']
['787', '1,006', 'Heavy, twin-engine, twin aisle, long-range widebody', '210–330[24]', 'December 15, 2009', '8, 9,[25] 10, BBJ[26]', '']

Optional: Display (using pandas)

In [ ]:
# !pip install pandas

In [ ]:
import pandas as pd

df = pd.DataFrame(table_content, columns=table_headings)
df

,Aircraft model,Number built[21],Description,Capacity,First flight,Variants in production,Out-of-production variants
0,737,"10,906","Twin‑engine, single aisle, short- to medium-ra...",85–215,"April 9, 1967","737 MAX, BBJ, 737 AEW&C, P-8","100, 200, 200C/Adv, 300, 400, 500, 600, 700, 7..."
1,767,"1,240","Heavy, twin-engine, twin aisle, medium- to lon...",180–375,"September 26, 1981","300F, KC-767, KC-46, E-767","200, 200ER, 300, 300ER, 400ER[22]"
2,777,"1,678","Heavy, twin-engine, twin aisle, medium- to lon...",301–550,"June 12, 1994","BBJ, Freighter[23]","200, 200ER, 200LR, 300, 300ER"
3,787,"1,006","Heavy, twin-engine, twin aisle, long-range wid...",210–330[24],"December 15, 2009","8, 9,[25] 10, BBJ[26]",

Alternate way: Using pandas' read_html().

In [ ]:
df2 = pd.read_html('https://en.wikipedia.org/wiki/Boeing_Commercial_Airplanes', index_col=1)[1]
df2

,Aircraft model,Description,Capacity,First flight,Variants in production,Out-of-production variants
Number built[21],,,,,,
10906,737,"Twin‑engine, single aisle, short- to medium-ra...",85–215,"April 9, 1967","737 MAX, BBJ, 737 AEW&C, P-8","100, 200, 200C/Adv, 300, 400, 500, 600, 700, 7..."
1240,767,"Heavy, twin-engine, twin aisle, medium- to lon...",180–375,"September 26, 1981","300F, KC-767, KC-46, E-767","200, 200ER, 300, 300ER, 400ER[22]"
1678,777,"Heavy, twin-engine, twin aisle, medium- to lon...",301–550,"June 12, 1994","BBJ, Freighter[23]","200, 200ER, 200LR, 300, 300ER"
1006,787,"Heavy, twin-engine, twin aisle, long-range wid...",210–330[24],"December 15, 2009","8, 9,[25] 10, BBJ[26]",NaN

While the pandas simplifies scarping tables, you cannot use it for your project.

Q2. Get all the images from latimes.com and save their paths. Optionally you should also be able to save those images to your local desktop.

In [ ]:
from bs4 import BeautifulSoup
import requests

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.114 Safari/537.36"
}
response = requests.get('https://www.latimes.com/', headers=headers)

soup = BeautifulSoup(response.content, 'html.parser')

# print(soup.prettify())
images = soup.find_all(['img'])

image_paths = []
for image in images:
    try:
        image_paths.append(image['srcset'].split(' ')[0])
    except:
        print(image.__dict__.keys())

print(f'Got {len(image_paths)} images')

dict_keys(['parser_class', 'name', 'namespace', 'prefix', 'preserve_whitespace_tags', 'known_xml', 'attrs', 'contents', 'parent', 'previous_element', 'next_element', 'next_sibling', 'previous_sibling', 'hidden', 'can_be_empty_element'])
Got 74 images

In [ ]:
print(type(image_paths[1]))
print(image_paths[1])

<class 'str'>
https://ca-times.brightspotcdn.com/dims4/default/abd4f31/2147483647/strip/true/crop/6720x4480+0+0/resize/110x73!/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F21%2F82%2Feab038764408a9b35f805c771b3f%2F1260123-me-weather-winter-storm-gxc-1187.jpg

In [ ]:
from IPython.display import Image
from IPython.display import display

imgs = []
for i in range(3):
  imgs.append(Image(url=image_paths[i]))

display(*imgs)

In [ ]:
import urllib

for index, image_path in enumerate(image_paths, start=1):
    print(f'Downloading image {index} ...')
            
    opener = urllib.request.build_opener()
    opener.addheaders=[('User-Agent','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.54 Safari/537.36')]
    urllib.request.install_opener(opener)

    urllib.request.urlretrieve(image_path, f'Image {index}.jpg')
    break

Downloading 1 image...

Cool! You got a crawler in your hands now.

Q3. Given a string s, reverse the order of the words. Toggle the case of each word (i.e. if the SiEVe -> sIevE).

Words are separated by a space.

Example:

s = 'BLues is my FaVoUriTE genRE'
returns "SEUlb SI YM etIRuOvAf erNEG:

In [ ]:
def reverse(s):
    left, right = 0, len(s)-1
    while left < right:
        s[left], s[right] = s[right], s[left]
        left += 1
        right -= 1
    return s

def toggle(s):
    ans = ''
    for c in s:
        if ord('a') <= ord(c) <= ord('z'):
            ans += chr(ord('A') + ord(c) - ord('a'))
        else:
            ans += chr(ord('a') + ord(c) - ord('A'))
    return ans

def reverseWords(s):
    words = s.split(' ')
    ans = []
    for word in words:
        word = list(word)
        reversed_word = reverse(word)
        togggled_word = toggle(reversed_word)
        ans.append(''.join(togggled_word))
    return ' '.join(ans)

In [ ]:
reverseWords('BLues is my FaVoUriTE genRE')

'SEUlb SI YM etIRuOvAf erNEG'