In [5]:
import pandas as pd
import numpy as np
import datetime
import torch
from datetime import date, datetime, timedelta
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, mean, stddev, variance, when
import pyspark.sql.functions as F
from pyspark.ml.regression import LinearRegression
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import RegressionEvaluator, MulticlassClassificationEvaluator, BinaryClassificationEvaluator
from pyspark.mllib.evaluation import BinaryClassificationMetrics
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
from pyspark.ml.feature import StringIndexer, OneHotEncoder, StandardScaler, MinMaxScaler,  VectorAssembler
from pyspark.sql.types import *
from pyspark.ml import Pipeline

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 310.8/310.8 MB 1.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=e360d6f072578c9cb7dcfad9419b713f9dcc74fa4f97e310733f92e1a9d2dc1b
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

### IMPORT DATA

In [ ]:
# IMPORT DATA
spark = SparkSession.builder.getOrCreate()
df = spark.read.csv('car_data.csv', header=True, inferSchema=True)
df.show(3)

+-------+------+---+------------+---------+
|User ID|Gender|Age|AnnualSalary|Purchased|
+-------+------+---+------------+---------+
|    385|  Male| 35|       20000|        0|
|    681|  Male| 40|       43500|        0|
|    353|  Male| 49|       74000|        0|
+-------+------+---+------------+---------+
only showing top 3 rows

In [ ]:
df = df.withColumnRenamed('User ID', 'User_ID')

In [ ]:
print('Num. rows:', df.count())
print('Num. Columns:', len(df.columns))

Num. rows: 1000
Num. Columns: 5

In [ ]:
from datetime import datetime, timedelta
run_date = '2023-06-12'
str(datetime.strptime(run_date,"%Y-%m-%d") - timedelta(days=90))[:10]

'2023-03-14'

In [ ]:
from datetime import datetime, timedelta

model_run_date = '06-22-2023'
[str(datetime.strptime(model_run_date, "%m-%d-%Y") - timedelta(days=30*x))[:10] for x in [0, 1, 2, 3, 4, 5, 6]]

['2023-06-22',
 '2023-05-23',
 '2023-04-23',
 '2023-03-24',
 '2023-02-22',
 '2023-01-23',
 '2022-12-24']

In [ ]:
model_run_date = '2023-06-22'
forecast_days = 90
[str(datetime.strptime(model_run_date,"%Y-%m-%d") + timedelta(days=forecast_days*x))[:10] for x in [0, 1]]

['2023-06-22', '2023-09-20']

### SQL COMMANDS

In [ ]:
#understand Parquet files + udf

In [ ]:
# Register the DataFrame as a temporary table/view
df.createOrReplaceTempView("car_data")
above_30 = spark.sql('SELECT * FROM car_data cd where cd.Age >= 35')
above_30.show()

+-------+------+---+------------+---------+
|User_ID|Gender|Age|AnnualSalary|Purchased|
+-------+------+---+------------+---------+
|    385|  Male| 35|       20000|        0|
|    681|  Male| 40|       43500|        0|
|    353|  Male| 49|       74000|        0|
|    895|  Male| 40|      107500|        1|
|    846|Female| 47|       33500|        1|
|    219|Female| 46|      132500|        1|
|    588|  Male| 42|       64000|        0|
|    465|  Male| 41|       52000|        0|
|    686|  Male| 42|       80000|        0|
|    408|  Male| 47|       23000|        1|
|    118|Female| 42|      108000|        1|
|     90|  Male| 35|       75000|        0|
|    372|  Male| 35|       53000|        0|
|    926|  Male| 46|       79000|        1|
|     94|Female| 39|      134000|        1|
|    338|Female| 39|       51500|        0|
|    134|Female| 49|       39000|        1|
|    821|  Male| 54|       25500|        1|
|    294|Female| 41|       61500|        0|
|     20|  Male| 40|      107000|        1|
+-------+------+---+------------+---------+
only showing top 20 rows

### Partitioning

In [ ]:
df.show(10)

+-------+------+---+------------+---------+
|User_ID|Gender|Age|AnnualSalary|Purchased|
+-------+------+---+------------+---------+
|    385|  Male| 35|       20000|        0|
|    681|  Male| 40|       43500|        0|
|    353|  Male| 49|       74000|        0|
|    895|  Male| 40|      107500|        1|
|    661|  Male| 25|       79000|        0|
|    846|Female| 47|       33500|        1|
|    219|Female| 46|      132500|        1|
|    588|  Male| 42|       64000|        0|
|     85|Female| 30|       84500|        0|
|    465|  Male| 41|       52000|        0|
+-------+------+---+------------+---------+
only showing top 10 rows

In [ ]:
spark.sql('SELECT User_ID, Gender, Age, AVG(AnnualSalary) OVER (PARTITION BY Gender) AS AvgSalary_Gender\
 FROM car_data').show(5)

+-------+------+---+-----------------+
|User_ID|Gender|Age| AvgSalary_Gender|
+-------+------+---+-----------------+
|    846|Female| 47|74802.32558139534|
|    219|Female| 46|74802.32558139534|
|     85|Female| 30|74802.32558139534|
|    790|Female| 32|74802.32558139534|
|    116|Female| 27|74802.32558139534|
+-------+------+---+-----------------+
only showing top 5 rows

In [ ]:
spark.sql('SELECT User_ID, Gender, COUNT(Gender) OVER (PARTITION BY Gender) AS TotalGender \
FROM car_data').show(5)

+-------+------+-----------+
|User_ID|Gender|TotalGender|
+-------+------+-----------+
|    846|Female|        516|
|    219|Female|        516|
|     85|Female|        516|
|    790|Female|        516|
|    116|Female|        516|
+-------+------+-----------+
only showing top 5 rows

### Partition by + Lag

This query calculates time intervals, from each email {open,click,delivery} event by user.

```sql
SELECT email_all.upm_id upm_id,
       datediff(first_open_ts_utc, lag(first_open_ts_utc) OVER (PARTITION BY upm_id ORDER BY first_open_ts_utc)) AS open_interval,
       datediff(first_click_ts_utc, lag(first_click_ts_utc) OVER (PARTITION BY upm_id ORDER BY first_click_ts_utc)) AS click_interval,
       datediff(first_delivery_ts_utc, lag(first_delivery_ts_utc) OVER (PARTITION BY upm_id ORDER BY first_delivery_ts_utc)) AS delivery_interval
FROM comms_atc.combined_campaign_email_data email_all
JOIN campaign_metadata meta ON email_all.comm_id = meta.comm_id
WHERE substring(first_del_dt, 1, 10) >= '{lookback_start_date}' AND
      substring(first_del_dt, 1, 10) < '{lookback_end_date}'

In [20]:
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

In [33]:
import pandas as pd

# Read the Excel file using pandas
df_bank_pd = pd.read_excel("bank.xlsx")

# Convert the DataFrame to a CSV file
df_bank_pd.to_csv("bank.csv", index=False)

# Read the CSV file in Spark
df_bank = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("bank.csv")

# Display the DataFrame
df_bank.show()

+-------------+----------+--------------------+-------+----------+--------------+-----------+-----------+---+
|   Account No|      DATE| TRANSACTION DETAILS|CHQ.NO.|VALUE DATE|WITHDRAWAL AMT|DEPOSIT AMT|BALANCE AMT|  .|
+-------------+----------+--------------------+-------+----------+--------------+-----------+-----------+---+
|409000611074'|2017-06-29|TRF FROM  Indiafo...|   null|2017-06-29|          null|  1000000.0|  1000000.0|  .|
|409000611074'|2017-07-05|TRF FROM  Indiafo...|   null|2017-07-05|          null|  1000000.0|  2000000.0|  .|
|409000611074'|2017-07-18|FDRL/INTERNAL FUN...|   null|2017-07-18|          null|   500000.0|  2500000.0|  .|
|409000611074'|2017-08-01|TRF FRM  Indiafor...|   null|2017-08-01|          null|  3000000.0|  5500000.0|  .|
|409000611074'|2017-08-16|FDRL/INTERNAL FUN...|   null|2017-08-16|          null|   500000.0|  6000000.0|  .|
|409000611074'|2017-08-16|FDRL/INTERNAL FUN...|   null|2017-08-16|          null|   500000.0|  6500000.0|  .|
|409000611074'|2017-08-16|FDRL/INTERNAL FUN...|   null|2017-08-16|          null|   500000.0|  7000000.0|  .|
|409000611074'|2017-08-16|FDRL/INTERNAL FUN...|   null|2017-08-16|          null|   500000.0|  7500000.0|  .|
|409000611074'|2017-08-16|FDRL/INTERNAL FUN...|   null|2017-08-16|          null|   500000.0|  8000000.0|  .|
|409000611074'|2017-08-16|FDRL/INTERNAL FUN...|   null|2017-08-16|          null|   500000.0|  8500000.0|  .|
|409000611074'|2017-08-16|INDO GIBL Indiafo...|   null|2017-08-16|      133900.0|       null|  8366100.0|  .|
|409000611074'|2017-08-16|INDO GIBL Indiafo...|   null|2017-08-16|       18000.0|       null|  8348100.0|  .|
|409000611074'|2017-08-16|INDO GIBL Indiafo...|   null|2017-08-16|        5000.0|       null|  8343100.0|  .|
|409000611074'|2017-08-16|INDO GIBL Indiafo...|   null|2017-08-16|      195800.0|       null|  8147300.0|  .|
|409000611074'|2017-08-16|INDO GIBL Indiafo...|   null|2017-08-16|       81600.0|       null|  8065700.0|  .|
|409000611074'|2017-08-16|INDO GIBL Indiafo...|   null|2017-08-16|       41800.0|       null|  8023900.0|  .|
|409000611074'|2017-08-16|INDO GIBL Indiafo...|   null|2017-08-16|       98500.0|       null|  7925400.0|  .|
|409000611074'|2017-08-16|INDO GIBL Indiafo...|   null|2017-08-16|      143800.0|       null|  7781600.0|  .|
|409000611074'|2017-08-16|INDO GIBL Indiafo...|   null|2017-08-16|      331650.0|       null|  7449950.0|  .|
|409000611074'|2017-08-16|INDO GIBL Indiafo...|   null|2017-08-16|      129000.0|       null|  7320950.0|  .|
+-------------+----------+--------------------+-------+----------+--------------+-----------+-----------+---+
only showing top 20 rows

In [34]:
from pyspark.sql.functions import regexp_replace #replace ' with ''

df_bank = df_bank.withColumn('Account No', regexp_replace(df_bank['Account No'], "'", ''))
#df_bank = df_bank.withColumn('Account No', F.col('Account No').cast('integer')) #convert to int

In [35]:
df_bank = df_bank.withColumnRenamed('Account No', 'Account_No').withColumnRenamed('DEPOSIT AMT', 'Deposit_amt')\
.withColumnRenamed('BALANCE AMT', 'Balance_amt')
df_bank.printSchema()

root
 |-- Account_No: string (nullable = true)
 |-- DATE: date (nullable = true)
 |-- TRANSACTION DETAILS: string (nullable = true)
 |-- CHQ.NO.: double (nullable = true)
 |-- VALUE DATE: date (nullable = true)
 |-- WITHDRAWAL AMT: double (nullable = true)
 |-- Deposit_amt: double (nullable = true)
 |-- Balance_amt: double (nullable = true)
 |-- .: string (nullable = true)

In [41]:
df_bank.select('Account_No').distinct().show(100) #Unique customers/accounts

+------------+
|  Account_No|
+------------+
|409000493210|
|409000438611|
|409000611074|
|     1196711|
|409000425051|
|409000438620|
|409000493201|
|409000405747|
|     1196428|
|409000362497|
+------------+

In [62]:
spark.sql('''
    SELECT Account_No, Date, Deposit_amt,
        AVG(Deposit_amt) OVER (PARTITION BY Account_No) AS AVG_Deposit_Account
    FROM bank_data
''').show(10)

+----------+----------+-----------+-------------------+
|Account_No|      Date|Deposit_amt|AVG_Deposit_Account|
+----------+----------+-----------+-------------------+
|   1196428|2015-01-01|  1200000.0|  2130827.330993709|
|   1196428|2015-01-01|   800000.0|  2130827.330993709|
|   1196428|2015-01-02|    15000.0|  2130827.330993709|
|   1196428|2015-01-02|    25000.0|  2130827.330993709|
|   1196428|2015-01-02|    25000.0|  2130827.330993709|
|   1196428|2015-01-02|    25000.0|  2130827.330993709|
|   1196428|2015-01-02|       null|  2130827.330993709|
|   1196428|2015-01-02|       null|  2130827.330993709|
|   1196428|2015-01-02|  1500000.0|  2130827.330993709|
|   1196428|2015-01-02|   172620.0|  2130827.330993709|
+----------+----------+-----------+-------------------+
only showing top 10 rows

In [63]:
df_bank.createOrReplaceTempView('bank_data')
spark.sql('''
    SELECT Account_No, Deposit_amt,
        AVG(Deposit_amt) OVER (PARTITION BY Account_No) AS AVG_Deposit_Account
    FROM bank_data
''').tail(10)#.show()

[Row(Account_No='409000611074', Deposit_amt=None, AVG_Deposit_Account=463046.4095238095),
 Row(Account_No='409000611074', Deposit_amt=300000.0, AVG_Deposit_Account=463046.4095238095),
 Row(Account_No='409000611074', Deposit_amt=None, AVG_Deposit_Account=463046.4095238095),
 Row(Account_No='409000611074', Deposit_amt=None, AVG_Deposit_Account=463046.4095238095),
 Row(Account_No='409000611074', Deposit_amt=None, AVG_Deposit_Account=463046.4095238095),
 Row(Account_No='409000611074', Deposit_amt=None, AVG_Deposit_Account=463046.4095238095),
 Row(Account_No='409000611074', Deposit_amt=300000.0, AVG_Deposit_Account=463046.4095238095),
 Row(Account_No='409000611074', Deposit_amt=None, AVG_Deposit_Account=463046.4095238095),
 Row(Account_No='409000611074', Deposit_amt=None, AVG_Deposit_Account=463046.4095238095),
 Row(Account_No='409000611074', Deposit_amt=None, AVG_Deposit_Account=463046.4095238095)]

In [57]:
#Use datediff()  --> DATE is cast in date datatype
current_date = '2017-08-18'
spark.sql('''
SELECT Account_No, DATE, Deposit_amt,
      datediff("{}", DATE) AS time_ago

FROM bank_data
          '''.format(current_date)).show()

+------------+----------+-----------+--------+
|  Account_No|      DATE|Deposit_amt|time_ago|
+------------+----------+-----------+--------+
|409000611074|2017-06-29|  1000000.0|      50|
|409000611074|2017-07-05|  1000000.0|      44|
|409000611074|2017-07-18|   500000.0|      31|
|409000611074|2017-08-01|  3000000.0|      17|
|409000611074|2017-08-16|   500000.0|       2|
|409000611074|2017-08-16|   500000.0|       2|
|409000611074|2017-08-16|   500000.0|       2|
|409000611074|2017-08-16|   500000.0|       2|
|409000611074|2017-08-16|   500000.0|       2|
|409000611074|2017-08-16|   500000.0|       2|
|409000611074|2017-08-16|       null|       2|
|409000611074|2017-08-16|       null|       2|
|409000611074|2017-08-16|       null|       2|
|409000611074|2017-08-16|       null|       2|
|409000611074|2017-08-16|       null|       2|
|409000611074|2017-08-16|       null|       2|
|409000611074|2017-08-16|       null|       2|
|409000611074|2017-08-16|       null|       2|
|409000611074|2017-08-16|       null|       2|
|409000611074|2017-08-16|       null|       2|
+------------+----------+-----------+--------+
only showing top 20 rows

# GOOD QUERY üòÅ

In [68]:
#Partition + Lag to find DEPOSIT INTERVAL
spark.sql('''
SELECT Account_No, DATE, Deposit_amt,
  datediff(DATE, lag(DATE) OVER (PARTITION BY Account_No ORDER BY DATE)) AS Deposit_interval

FROM bank_data
          ''').show(150)

+----------+----------+-----------+----------------+
|Account_No|      DATE|Deposit_amt|Deposit_interval|
+----------+----------+-----------+----------------+
|   1196428|2015-01-01|  1200000.0|            null|
|   1196428|2015-01-01|   800000.0|               0|
|   1196428|2015-01-02|    15000.0|               1|
|   1196428|2015-01-02|    25000.0|               0|
|   1196428|2015-01-02|    25000.0|               0|
|   1196428|2015-01-02|    25000.0|               0|
|   1196428|2015-01-02|       null|               0|
|   1196428|2015-01-02|       null|               0|
|   1196428|2015-01-02|  1500000.0|               0|
|   1196428|2015-01-02|   172620.0|               0|
|   1196428|2015-01-02|   700000.0|               0|
|   1196428|2015-01-03|       null|               1|
|   1196428|2015-01-03|  2200000.0|               0|
|   1196428|2015-01-03|    48160.0|               0|
|   1196428|2015-01-03|   700000.0|               0|
|   1196428|2015-01-05|       null|               2|
|   1196428|2015-01-05|       null|               0|
|   1196428|2015-01-05|   700000.0|               0|
|   1196428|2015-01-05|  3000000.0|               0|
|   1196428|2015-01-05|   177320.0|               0|
|   1196428|2015-01-06|       null|               1|
|   1196428|2015-01-06|       null|               0|
|   1196428|2015-01-06|   800000.0|               0|
|   1196428|2015-01-06|     7500.0|               0|
|   1196428|2015-01-06|  2500000.0|               0|
|   1196428|2015-01-06|   343250.0|               0|
|   1196428|2015-01-07|       null|               1|
|   1196428|2015-01-07|  2200000.0|               0|
|   1196428|2015-01-07|   455070.0|               0|
|   1196428|2015-01-07|   800000.0|               0|
|   1196428|2015-01-08|       null|               1|
|   1196428|2015-01-08|  3000000.0|               0|
|   1196428|2015-01-08|   850200.0|               0|
|   1196428|2015-01-08|   700000.0|               0|
|   1196428|2015-01-09|       null|               1|
|   1196428|2015-01-09|   700000.0|               0|
|   1196428|2015-01-09|  3200000.0|               0|
|   1196428|2015-01-09|  1002100.0|               0|
|   1196428|2015-01-10|       null|               1|
|   1196428|2015-01-10|    25000.0|               0|
|   1196428|2015-01-10|    25000.0|               0|
|   1196428|2015-01-10|    15000.0|               0|
|   1196428|2015-01-10|     2000.0|               0|
|   1196428|2015-01-10|     2000.0|               0|
|   1196428|2015-01-10|    30000.0|               0|
|   1196428|2015-01-10|       null|               0|
|   1196428|2015-01-10|       null|               0|
|   1196428|2015-01-10|  4000000.0|               0|
|   1196428|2015-01-10|   715880.0|               0|
|   1196428|2015-01-10|   800000.0|               0|
|   1196428|2015-01-12|       null|               2|
|   1196428|2015-01-12|  5000000.0|               0|
|   1196428|2015-01-12|  1057710.0|               0|
|   1196428|2015-01-12|   900000.0|               0|
|   1196428|2015-01-13|       null|               1|
|   1196428|2015-01-13|  4900000.0|               0|
|   1196428|2015-01-13|   746530.0|               0|
|   1196428|2015-01-13|   900000.0|               0|
|   1196428|2015-01-14|   757500.0|               1|
|   1196428|2015-01-14|       null|               0|
|   1196428|2015-01-14|  4000000.0|               0|
|   1196428|2015-01-14|   430180.0|               0|
|   1196428|2015-01-14|  1100000.0|               0|
|   1196428|2015-01-15|   904000.0|               1|
|   1196428|2015-01-15|   554000.0|               0|
|   1196428|2015-01-15|    15000.0|               0|
|   1196428|2015-01-15|     2000.0|               0|
|   1196428|2015-01-15|    25000.0|               0|
|   1196428|2015-01-15|    15000.0|               0|
|   1196428|2015-01-15|       null|               0|
|   1196428|2015-01-15|    10000.0|               0|
|   1196428|2015-01-15|  3000000.0|               0|
|   1196428|2015-01-15|   499970.0|               0|
|   1196428|2015-01-15|   700000.0|               0|
|   1196428|2015-01-16|   696500.0|               1|
|   1196428|2015-01-16|   172000.0|               0|
|   1196428|2015-01-16|       null|               0|
|   1196428|2015-01-16|   113000.0|               0|
|   1196428|2015-01-16|       null|               0|
|   1196428|2015-01-16|  2900000.0|               0|
|   1196428|2015-01-16|   359800.0|               0|
|   1196428|2015-01-16|   800000.0|               0|
|   1196428|2015-01-17|   423500.0|               1|
|   1196428|2015-01-17|   450500.0|               0|
|   1196428|2015-01-17|       null|               0|
|   1196428|2015-01-17|    15000.0|               0|
|   1196428|2015-01-17|    15000.0|               0|
|   1196428|2015-01-17|    15000.0|               0|
|   1196428|2015-01-17|    15000.0|               0|
|   1196428|2015-01-17|     2000.0|               0|
|   1196428|2015-01-17|    30000.0|               0|
|   1196428|2015-01-17|       null|               0|
|   1196428|2015-01-17|   516000.0|               0|
|   1196428|2015-01-17|       null|               0|
|   1196428|2015-01-17|   223000.0|               0|
|   1196428|2015-01-17|  2800000.0|               0|
|   1196428|2015-01-17|   170070.0|               0|
|   1196428|2015-01-17|   900000.0|               0|
|   1196428|2015-01-19|  1500000.0|               2|
|   1196428|2015-01-19|   855500.0|               0|
|   1196428|2015-01-19|    15000.0|               0|
|   1196428|2015-01-19|   403010.0|               0|
|   1196428|2015-01-19|       null|               0|
|   1196428|2015-01-19|   266000.0|               0|
|   1196428|2015-01-19|   333000.0|               0|
|   1196428|2015-01-19|   434000.0|               0|
|   1196428|2015-01-19|  3500000.0|               0|
|   1196428|2015-01-19|   364560.0|               0|
|   1196428|2015-01-19|   900000.0|               0|
|   1196428|2015-01-20|   631500.0|               1|
|   1196428|2015-01-20|   190000.0|               0|
|   1196428|2015-01-20|       null|               0|
|   1196428|2015-01-20|    26000.0|               0|
|   1196428|2015-01-20|   769000.0|               0|
|   1196428|2015-01-20|  3000000.0|               0|
|   1196428|2015-01-20|   233770.0|               0|
|   1196428|2015-01-20|   900000.0|               0|
|   1196428|2015-01-21|       null|               1|
|   1196428|2015-01-21|   280500.0|               0|
|   1196428|2015-01-21|  2500000.0|               0|
|   1196428|2015-01-21|   207430.0|               0|
|   1196428|2015-01-21|  1000000.0|               0|
|   1196428|2015-01-22|       null|               1|
|   1196428|2015-01-22|   299000.0|               0|
|   1196428|2015-01-22|       null|               0|
|   1196428|2015-01-22|  2200000.0|               0|
|   1196428|2015-01-22|    72270.0|               0|
|   1196428|2015-01-23|    15000.0|               1|
|   1196428|2015-01-23|    15000.0|               0|
|   1196428|2015-01-23|    15000.0|               0|
|   1196428|2015-01-23|    15000.0|               0|
|   1196428|2015-01-23|    25000.0|               0|
|   1196428|2015-01-23|    15000.0|               0|
|   1196428|2015-01-23|    15000.0|               0|
|   1196428|2015-01-23|    15000.0|               0|
|   1196428|2015-01-23|    15000.0|               0|
|   1196428|2015-01-23|    15000.0|               0|
|   1196428|2015-01-23|    12700.0|               0|
|   1196428|2015-01-23|       null|               0|
|   1196428|2015-01-23|   385000.0|               0|
|   1196428|2015-01-23|  1500000.0|               0|
|   1196428|2015-01-23|   176450.0|               0|
|   1196428|2015-01-23|   900000.0|               0|
|   1196428|2015-01-24|       null|               1|
|   1196428|2015-01-24|   493000.0|               0|
|   1196428|2015-01-24|  2950000.0|               0|
|   1196428|2015-01-24|   114760.0|               0|
|   1196428|2015-01-24|  1000000.0|               0|
|   1196428|2015-01-27|     6000.0|               3|
|   1196428|2015-01-27|       null|               0|
+----------+----------+-----------+----------------+
only showing top 150 rows

### EDA

In [ ]:
df.printSchema()

root
 |-- User ID: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- AnnualSalary: integer (nullable = true)
 |-- Purchased: integer (nullable = true)

In [ ]:
#null val count
for col_ in df.columns:
  print(f'{col_} N/A:', df.filter(col(col_).isNull()).count())

User ID N/A: 0
Gender N/A: 0
Age N/A: 0
AnnualSalary N/A: 0
Purchased N/A: 0

In [ ]:
df.groupBy('Gender').count().show() #unique vals in gender

+------+-----+
|Gender|count|
+------+-----+
|Female|  516|
|  Male|  484|
+------+-----+

In [ ]:
#Find correlation with outcome var
def corr_(var):
  for col_ in df.columns:
    if col_ != var: continue
    for col2 in df.columns:
      if col_==col2 or df.select(F.col(col_)).dtypes[0][1] == 'string' or df.select(F.col(col2)).dtypes[0][1] == 'string': continue
      else:print('Correlation ({}, {}):'.format(col_, col2), df.select(F.corr(col_, col2)).first()[0])

corr_('Purchased')

Correlation (Purchased, User ID): 0.015910931566033848
Correlation (Purchased, Age): 0.6160363973749042
Correlation (Purchased, AnnualSalary): 0.3649744312828344

In [ ]:
df.describe().toPandas()

,summary,User ID,Gender,Age,AnnualSalary,Purchased
0,count,1000,1000,1000,1000,1000
1,mean,500.5,None,40.106,72689.0,0.402
2,stddev,288.8194360957494,None,10.707072681429098,34488.34186685011,0.490547282773676
3,min,1,Female,18,15000,0
4,max,1000,Male,63,152500,1

#Logit Modeling

In [ ]:
df.printSchema()

root
 |-- User ID: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- AnnualSalary: integer (nullable = true)
 |-- Purchased: integer (nullable = true)

In [ ]:
spark = SparkSession.builder.getOrCreate()
df = spark.read.csv('car_data.csv', header=True, inferSchema=True)
df.show(3)

# Categorize Columns
indexer = StringIndexer(inputCol='Gender', outputCol='Gender_encoded').fit(df)
df = indexer.transform(df).select([x if x != 'Gender' else 'Gender_encoded' for x in df.columns])

# Random .8/.2 split
train, test = df.randomSplit([.8, .2], seed=0)

# Vectorize
v_assembler = VectorAssembler(inputCols=[col for col in df.columns if col != 'Purchased'],
                              outputCol='features')
df = v_assembler.transform(df).select('features', 'Purchased')

# Scale
scaler = MinMaxScaler(inputCol='features', outputCol='features_scaled').fit(df)
df = scaler.transform(df).select('features_scaled', 'Purchased')

df.show()

# Fit and Train Model
lr = LogisticRegression(featuresCol='features_scaled', labelCol= 'Purchased')
lr.setParams(regParam=0.01, elasticNetParam=0.5)

pipeline = Pipeline(stages=[indexer, v_assembler, scaler, lr])
model = pipeline.fit(train)

+-------+------+---+------------+---------+
|User ID|Gender|Age|AnnualSalary|Purchased|
+-------+------+---+------------+---------+
|    385|  Male| 35|       20000|        0|
|    681|  Male| 40|       43500|        0|
|    353|  Male| 49|       74000|        0|
+-------+------+---+------------+---------+
only showing top 3 rows

+--------------------+---------+
|     features_scaled|Purchased|
+--------------------+---------+
|[0.38438438438438...|        0|
|[0.68068068068068...|        0|
|[0.35235235235235...|        0|
|[0.89489489489489...|        1|
|[0.66066066066066...|        0|
|[0.84584584584584...|        1|
|[0.21821821821821...|        1|
|[0.58758758758758...|        0|
|[0.08408408408408...|        0|
|[0.46446446446446...|        0|
|[0.68568568568568...|        0|
|[0.40740740740740...|        1|
|[0.78978978978978...|        0|
|[0.11511511511511...|        0|
|[0.11711711711711...|        1|
|[0.05305305305305...|        1|
|[0.08908908908908...|        0|
|[0.37137137137137...|        0|
|[0.92592592592592...|        1|
|[0.09309309309309...|        1|
+--------------------+---------+
only showing top 20 rows

In [ ]:
#Predict with model --> RAWPREDICTION IS VALUE BEFORE SIGMOID FUNCTION/SOFTMAX
pred = model.transform(test)
pred.show()

+-------+--------------+---+------------+---------+--------------------+--------------------+--------------------+--------------------+----------+
|User ID|Gender_encoded|Age|AnnualSalary|Purchased|            features|     features_scaled|       rawPrediction|         probability|prediction|
+-------+--------------+---+------------+---------+--------------------+--------------------+--------------------+--------------------+----------+
|     21|           1.0| 36|       62500|        0|[21.0,1.0,36.0,62...|[0.02002002002002...|[1.66424712854177...|[0.84080730600946...|       0.0|
|     22|           0.0| 56|      131500|        1|[22.0,0.0,56.0,13...|[0.02102102102102...|[-3.4950924495082...|[0.02945218841335...|       1.0|
|     29|           1.0| 36|       40500|        0|[29.0,1.0,36.0,40...|[0.02802802802802...|[2.23988930854211...|[0.90377483233897...|       0.0|
|     30|           1.0| 27|       58000|        0|[30.0,1.0,27.0,58...|[0.02902902902902...|[3.37918598563868...|[0.96704767529800...|       0.0|
|     31|           0.0| 28|       59500|        0|[31.0,0.0,28.0,59...|[0.03003003003003...|[3.35787499459216...|[0.96636176821765...|       0.0|
|     37|           0.0| 22|       27000|        0|[37.0,0.0,22.0,27...|[0.03603603603603...|[5.27305139826329...|[0.99489822231575...|       0.0|
|     38|           0.0| 43|       76500|        0|[38.0,0.0,43.0,76...|[0.03703703703703...|[0.25107080655170...|[0.56244004530248...|       0.0|
|     40|           1.0| 26|       86000|        0|[40.0,1.0,26.0,86...|[0.03903903903903...|[2.82401646890154...|[0.94395991525512...|       0.0|
|     50|           1.0| 37|       53000|        0|[50.0,1.0,37.0,53...|[0.04904904904904...|[1.73535390300590...|[0.85009596278086...|       0.0|
|     54|           0.0| 33|      149000|        1|[54.0,0.0,33.0,14...|[0.05305305305305...|[0.12872801872889...|[0.53213763779473...|       0.0|
|     61|           1.0| 59|      145500|        1|[61.0,1.0,59.0,14...|[0.06006006006006...|[-4.5892114801514...|[0.01005866252613...|       1.0|
|     62|           1.0| 25|       20500|        0|[62.0,1.0,25.0,20...|[0.06106106106106...|[4.71532621716584...|[0.99112257095057...|       0.0|
|     63|           0.0| 55|      140500|        1|[63.0,0.0,55.0,14...|[0.06206206206206...|[-3.5531164471541...|[0.02783810869298...|       1.0|
|     66|           0.0| 59|      106500|        1|[66.0,0.0,59.0,10...|[0.06506506506506...|[-3.3733515638431...|[0.03313875460717...|       1.0|
|     73|           1.0| 60|       76500|        1|[73.0,1.0,60.0,76...|[0.07207207207207...|[-2.9612542643227...|[0.04920729096624...|       1.0|
|     76|           0.0| 43|      109500|        1|[76.0,0.0,43.0,10...|[0.07507507507507...|[-0.6123924634488...|[0.35151363802008...|       1.0|
|     88|           1.0| 41|       79500|        0|[88.0,1.0,41.0,79...|[0.08708708708708...|[0.33210279131598...|[0.58227093022480...|       0.0|
|     90|           1.0| 35|       75000|        0|[90.0,1.0,35.0,75...|[0.08908908908908...|[1.51464369316850...|[0.81974838255625...|       0.0|
|     91|           1.0| 31|       74000|        0|[91.0,1.0,31.0,74...|[0.09009009009009...|[2.25067318713075...|[0.90470858702315...|       0.0|
|    101|           1.0| 38|       93500|        1|[101.0,1.0,38.0,9...|[0.10010010010010...|[0.49818299565108...|[0.62203223351914...|       0.0|
+-------+--------------+---+------------+---------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [ ]:
#ADD MORE EVALUATORS
evaluator = BinaryClassificationEvaluator(labelCol='Purchased')
areaUnderROC = evaluator.evaluate(pred, {evaluator.metricName: 'areaUnderROC'})
#areaUnderPR = 'areaUnderPR'
print(areaUnderROC)

0.9261607142857144

In [ ]:
#Gridsearch to optimize Logistic Regression HyperParameters

In [ ]:
#Evaluate Model Performance