**<h3>DSCI 510: Principles of Programming for Data Science </h3>**
<h4>Spring 2023 – Assignment 4</h4>

Instructor: <a href="mailto:ambite@isi.edu">Prof. Jose Luis Ambite </a>                       				                           
Course Producers: <a href="mailto:svara@usc.edu">Samuel Vara</a>, <a href="mailto:svparakh@usc.edu">Sanjana Parakh</a>, <a href="mailto:swarnita@usc.edu">Swarnita Venkatraman</a>, <a href="mailto:gursimar@usc.edu">Gursimar Kaur</a>
</h2>

**Guidelines for the Assignment:**

- You have to complete the assignments individually. If you are having trouble completing the assignment do let the TAs know/post on Piazza.

- Please don't copy code (either partially/fully) from your classmates. Plagiarism of any form will result in a 0 and you will be reported to SJACS (https://sjacs.usc.edu/students/academic-integrity/).

- You have to fill the code in this notebook and upload it for submission. While doing this, make sure all supporting files that you download from D2L are in the same directory as this notebook.  

- File Naming Convention : Lab4_LastName_FirstName.ipynb

- Don't change existing methods (if any, unless otherwise mentioned in the instructions)

- You are encouraged to look up resources online like python docs and stackoverflow. Look up the topics and not the questions themselves. 

- Your last submission before the deadline will be counted towards your grade. You can submit any number of times before the deadline.

- You need to take input from file/console only if it is mentioned in the question. If not we need just the logic/implementation of your function.

- Scores are capped at 10 points including the Bonus problem. For Example: Even if you get a score of 12/10, your score is capped at 10.

- Bonus score is counted only if the first 2 questions are attempted. Don't attempt the bonus question if you haven't attempted the first 2.

### **Q1. Files - Stock data [5 points]**

#### Q1.1 You are given a txt file named 'stocks_report.txt' on D2L, download it and keep it in the same location where you have this notebook. For this problem on files, you are required to count the number of lines in the given text file. [1 point]

In [6]:
# Fill this function for your solution

def number_of_lines():
    f = open('/Users/sandeepk/Desktop/DSCI_510/Lab4/stocks_report.txt', 'r')
    cnt = 0
    for line in f:
        cnt+=1
    return cnt

In [7]:
# Do not change this cell 
print(number_of_lines())

2510

### Q1.2 
In the file stocks_report.txt, you have 1 string and 6 floating point numbers in each line as per the format below. This data is from a certain timeframe for each company, representing 10 different companies.

("Symbol", "Open", "High", "Low", "Close", "Adj Close", "Volume") for a particular day.  

An example:
(AAPL 165.7100067138672 170.35000610351562 162.8000030517578 170.3300018310547 169.34715270996094 179935700) represents day 1.

Symbol = day_wise[0] = AAPL

Open = day_wise[1] = 165.7100067138672

High = day_wise[2] = 170.35000610351562

Low = day_wise[3] = 162.8000030517578

Close = day_wise[4] = 170.3300018310547

Adj Close = day_wise[5] = 169.34715270996094

Volume = day_wise[6] = 179935700

Your task is to find the number of days a company whose symbol begins with a "M" has had a price difference between close and open greater than 3(>3) and volume less than 40000000 (<40000000)


[4 points]

In [3]:
# Fill this function for your solution
def number_of_days():
    f = open('/Users/sandeepk/Desktop/DSCI_510/Lab4/stocks_report.txt', 'r')
    cnt = 0
    for Line in f:
        ls=[]
        ls.append(Line.rstrip().split(" "))
        if ls[0][0][0] == 'M':
            if abs(float(ls[0][4]) - float(ls[0][1])) > 3 and float(ls[0][6]) < 40000000:
                cnt += 1
    return cnt

In [4]:
# Do not change this cell 
print(number_of_days())

320

### **Q2. Lists [5 points]**

#### Q2.1 You are given a list of lists 'original_list' with numbers. Your task is to find the average of each list within the main list 'original_list' and append all the average values to a new empty list 'averages'. Then do the following:



* Print the maximum value of the list 'averages'   
* Sort and print the list 'averages' in ascending order




original_list=[[1,5,6,4],[3,5,4,3,2,3,3,2],[9,8,3,2,4],[7,8],[1,2,4]]

[3 points]

In [95]:
original_list=[[1,5,6,4],[3,5,4,3,2,3,3,2],[9,8,3,2,4],[7,8],[1,2,4]]
ls = [round(sum(val)/len(val),2) for val in original_list]
ls

[4.0, 3.12, 5.2, 7.5, 2.33]

### Q2.2 You are given a list of strings 'name_list' where each element is in the format 'surname,name'. Your task is to print all the elements whose surname is 'Smith'.

name_list = ['Smith,Manny','Chen,Jiyan','Smith,Alex','Smith,Fred','Jones,Jim','Johnson,Mary','Smith,Ashley','Garcia,Mila','Greg,Smith'] 

[2 points]

In [109]:
#write your code below
name_list = ['Smith,Manny','Chen,Jiyan','Smith,Alex','Smith,Fred','Jones,Jim','Johnson,Mary','Smith,Ashley','Garcia,Mila','Greg,Smith']
answer = [print(x) for x in name_list if x.startswith('Smith')]

Smith,Manny
Smith,Alex
Smith,Fred
Smith,Ashley

### **Bonus Question [2 points]**

Check if each word in the given string 'example' is a palindrome or not. Append the words that are a palindrome to a new list 'result' and function should return that list.

A Palindrome is defined as a string if the reverse of the string is the same as the original string.

For example : 'radar' is a palindrome because radar read from the front or the from the end is the same. However, 'radius' is not a palindrome.



```
Example:

Input: 'rotator, bliss, kayak  , house, peep, tomato '
Output: ['rotator', 'kayak', 'peep']
```

**Hint: Check for whitespace in each word.**

In [1]:
def check_palindrome(example):
    example = example.split(',')
    ls = [val.strip() for val in example]
    return_ls = [val for val in ls if val[::-1] == val]
    return return_ls

In [2]:
example = 'malayalam, abc, car, ada, racecar , cool'
check_palindrome(example)

['malayalam', 'ada', 'racecar']

In [5]:
def multipliers():
    return [lambda x, i=i : i * x for i in range(4)]

multipliers()

[<function __main__.multipliers.<locals>.<listcomp>.<lambda>(x, i=0)>,
 <function __main__.multipliers.<locals>.<listcomp>.<lambda>(x, i=1)>,
 <function __main__.multipliers.<locals>.<listcomp>.<lambda>(x, i=2)>,
 <function __main__.multipliers.<locals>.<listcomp>.<lambda>(x, i=3)>]

## Map and Lambda Function

In [44]:
# read file in 
import pandas as pd
purchase_df = pd.read_csv('/Users/sandeepk/Desktop/purchased.csv')

#Hold dictionary of values to be mapped
mapped_vals = {}
unique_vals = purchase_df['Gender'].unique()
cnt=0
for x in range(len(unique_vals)):
    mapped_vals[unique_vals[x]]=cnt
    cnt+=1
    
purchase_df['sex'] = purchase_df['Gender'].map(mapped_vals)

In [101]:
purchase_df.iloc[-1::-1]

      User ID  Gender  Age  EstimatedSalary  Purchased  sex
399  15594041  Female   49            36050          1    1
398  15755018    Male   36            33050          0    0
397  15654296  Female   50            20050          1    1
396  15706071    Male   51            23050          1    0
395  15691863  Female   46            41050          1    1
..        ...     ...  ...              ...        ...  ...
4    15804002    Male   19            76050          0    0
3    15603246  Female   27            57050          0    1
2    15668575  Female   26            43050          0    1
1    15810944    Male   35            20050          0    0
0    15624510    Male   19            19050          0    0

[400 rows x 6 columns]

In [45]:
purchase_df['EstimatedSalary'] = purchase_df['EstimatedSalary'].map(lambda x: x+50)
#df['Fee'] = df['Fee'].map(lambda x: x - (x*10/100))
purchase_df

      User ID  Gender  Age  EstimatedSalary  Purchased  sex
0    15624510    Male   19            19050          0    0
1    15810944    Male   35            20050          0    0
2    15668575  Female   26            43050          0    1
3    15603246  Female   27            57050          0    1
4    15804002    Male   19            76050          0    0
..        ...     ...  ...              ...        ...  ...
395  15691863  Female   46            41050          1    1
396  15706071    Male   51            23050          1    0
397  15654296  Female   50            20050          1    1
398  15755018    Male   36            33050          0    0
399  15594041  Female   49            36050          1    1

[400 rows x 6 columns]

In [54]:
ls = ['bob', 'mike', 'brad']
m = list(filter(lambda x: x.startswith('b'), ls))
m

['bob', 'brad']

In [77]:
squares = list(map(lambda x: x**2, range(10)))
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [74]:
squares = map(lambda x: x**2, range(10))
special_squares = list(filter(lambda x: x > 5 and x < 50, squares))
print(special_squares)

[9, 16, 25, 36, 49]

In [78]:
#passing in a lambda function to lambda function
high_ord = lambda x, fun: x + fun(x)
print(high_ord(20, lambda x: x*x))

420

In [84]:
(lambda x:(x%2 and 'odd' or 'even'))(150)

'even'

In [85]:
(lambda x,y: (x*y))(10,2)

20

In [94]:
ll = [-8, -4, 0, 4, 8]
[(lambda x: (x**2))(x) for x in range(len(ll))]

[0, 1, 4, 9, 16]

In [95]:
print([(lambda x: x**2)(x) for x in ll])

[64, 16, 0, 16, 64]

In [107]:
#Add two numbers in lists using lambda and map

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
  
result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 9]

In [111]:
#DONT EVER RLLY NEED FOR LOOP FOR ITERATING THROUGH LIST

numbers = [1, 2, 3, 4, 5]
[(lambda x: (x**2))(x) for x in numbers]

[1, 4, 9, 16, 25]

In [106]:



map_vals = {0:100, 1:500}
ls = [0,0,1,1]
ls = map(ls, map_vals)

TypeError: 'list' object is not callable