In [1]:
def my_function(a, b, *args, **kwargs):
    print(a, b, args, kwargs)
    
my_function(1,2,3,4,5,6, c=2, d=3)

1 2 (3, 4, 5, 6) {'c': 2, 'd': 3}

In [68]:
def my_function(a, b, **kwargs):
    print(a, b, kwargs)
    
my_function(1,2,k=4,z=3)

1 2 {'k': 4, 'z': 3}

In [ ]:
data = {}
data['key'] = {'num1': 44, 'num2': 55}
data['key2'] = [1, 2, 3, 4]
for val in data:
    print(val)
total = sum([len(x) for x in data])
total

In [146]:
st = 'hi hello how'
dic = {}
for val in st: dic[val] = dic.get(val,0) + 1
dic

{'h': 3, 'i': 1, ' ': 2, 'e': 1, 'l': 2, 'o': 2, 'w': 1}

In [144]:
dic

{'a': [100000, 2, 3], 'b': [4, 5, 6]}

In [149]:
def my_function(x=0):
    try:
        if x:
            print("True")
            return
        else:
            print("False")
            return
    except Exception:
        print("In Exception")
    finally:
        print("In Finally")
        
my_function(10)

True
In Finally

In [26]:
import math
class Coordinate:
    def __init__(self, x, y):
        self.x, self.y = x, y
    def add(self, other):
        return Coordinate(self.x + other.x, self.y + other.y)
    def distance(self, other):
        return math.sqrt((self.x - other.x)**2 + (self.y - other.y)**2)

a = Coordinate(1, 0)
print(a.add(a).add(a).x)

a = Coordinate(1, 0)
a = a.add(a).add(a) #(3,0)
b = Coordinate(0, 1)
b = b.add(b)  #B = (0,2)
b = b.add(b) # (0,4)

c = a.add(b) #(3,4)

print(f"{a.distance(b):.2f}")

3
5.00

4

In [63]:
z = set('bananna')
t = set('cracker')
t.symmetric_difference(z), t.union(b)

({'b', 'c', 'e', 'k', 'n', 'r'}, {'!', 'a', 'b', 'c', 'e', 'k', 'n', 'r'})

In [50]:
class Car:
    def __init__(self, make, model):
        self.make = make
        self.model = model
        
    def addfeatures(self, **kwargs):
        self.features = kwargs
        
class SportsCar(Car):
    def __init__(self, make, model, cylinders=6):
        super().__init__(make, model)
        self.cylinders = cylinders
        
p = SportsCar('Porche', 911)
p.addfeatures(convertable = True, top_mph = 10, mpg = 25)
p.features['top_mph']

10

In [32]:
x = [1,[2, [3,4], 5], 6]
z = x[:]
x[1][1][0] = 'a'
x, z

([1, [2, ['a', 4], 5], 6], [1, [2, ['a', 4], 5], 6])

In [53]:
import copy
y = {'a' : [1,2,3], 'b' : [4,[5,6]]}
x = y.copy()
x['b'][0] = '7'
y

{'a': [1, 2, 3], 'b': ['7', [5, 6]]}

In [34]:
y = {'a' : [1,2,3], 'b' : [4,[5,6]]}
x = copy.deepcopy(y)
x['b'][0] = '7'
y == x

False

In [ ]:
x = [1,[2, [3,4], 5], 6]
a = copy.deepcopy(x)
a[1][2] = 'a'
x[1][2] == a[1][2]

In [37]:
b = set('bananna!')
p = set('papaya')
p.symmetric_difference(b), p&b, p-b, p.union(b)

({'!', 'b', 'n', 'p', 'y'}, {'a'}, {'p', 'y'}, {'!', 'a', 'b', 'n', 'p', 'y'})

In [98]:
x = (2, 2, 3)
y = (6, 2, 1)
print(x < y)

True

In [6]:
data = [number for number in range(6) if number %2 != 0]
data

[1, 3, 5]

In [72]:
for val in range(5,0,-1):
    print(val)

5
4
3
2
1

In [100]:
numbers *5

['a', 2, 3, 'a', 2, 3, 'a', 2, 3, 'a', 2, 3, 'a', 2, 3]

In [114]:
numbers = [1, 2, 3, 4]
y = numbers
y[0] = 'a'
y, numbers
numbers*5

['a', 2, 3, 4, 'a', 2, 3, 4, 'a', 2, 3, 4, 'a', 2, 3, 4, 'a', 2, 3, 4]

In [84]:
dic = {'a': [1,2,3], 'b': [4,5,6]}
dic1 = dic
dic['a'][0] = 100000
dic1

{'a': [100000, 2, 3], 'b': [4, 5, 6]}

In [94]:
z = set('Saaannd')
z.add('a')
z

{'S', 'a', 'd', 'n'}

In [99]:
class Person:
    def sleep(self):
        print("Sleep")
class Student(Person):
    def study(self):
        print("Study")
        
        
class Employee(Person):
    def work(self):
        print("Work")
        
        
class TeachingAssistant(Student, Employee):
    pass


tom = TeachingAssistant()
tom.sleep()
tom.study()
tom.work()

Sleep
Study
Work

In [133]:
z = set('Bananna!')
z

{'!', 'B', 'a', 'n'}

In [132]:
total = 0
def add(value = 0, total = 0):
    total += value
    return total
    
add(1, total)

#print(total)

1

In [117]:
def add(value = 0, total = 0):
    total = 0
    total += value
    
    
add(1, total)
#add(2, total)
#add(3, total)
print(total)

0

In [199]:
def Fibonacci(n):
    n = list(range(n+1))
    cnt=-1
    result_ls = []
    for val in range(len(n)):
        cnt+=1
        if cnt > 1 and cnt < len(n)+1:
            result_ls.append(sum(n[cnt-2:cnt]))
    result_ls.append(sum(n[-2:]))
    return result_ls

Fibonacci(7)

[1, 3, 5, 7, 9, 11, 13]

In [197]:
n= 7 
list(range(n+1))

[0, 1, 2, 3, 4, 5, 6, 7]